body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.logo-nav {
  height: 55px;
  width: 55px;
  border-radius: 50px;
}


nav {
  background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(6, 40, 78) 91.6%);
  font-family: 'Pixelify Sans',
    sans-serif;
  ;
}

.modal-fondo{
  background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(2, 8, 15) 91.6%);
}