body { 
  background-color: #040205;
text-align: center;
font-family: 'Pixelify Sans',
sans-serif;
}
.contenedor404{
  display: flex;
  align-items: center;  ;
  justify-content: center;
  
  
}
.errorNotFund{
  
  height: 450px; 
  width: 300px; 
}
.errorNotFund img{
 
  height: 450px; 
  width: 300px; 
}

.errorCreeper{
  height: 450px; 
  width: 300px; 
  overflow: hidden;
  display: flex;
  align-items: center;
}

.errorCreeper img{
  max-width:100%;
  margin: auto;
  display: block;
}

.texto404{
  color: white;
}

.botonVolver {
  text-decoration: none;
  background-color: #29B9F2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.botonVolver:hover {
  background-color: #152340;
}