
body {
    background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(6, 26, 48) 91.6%);
      font-family: 'Kanit', sans-serif;
}


.textoDescripcion {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .inputCantidad {
    width: 10%;
    background-color: #042a59de;
  }
  
  .btnCantidad {
    background: none;
    border: 2px solid #0e3361;
    /* padding: 0 5px 3px 5px; */
  }
  
  .btnAgregarAlCarrito {
    background-color: #0e1445;
  }
  
  .btnAgregarAlCarrito:hover,
  .btnAgregarAlCarrito:active {
    background-color: #729aea;
  }
  
  .btnAgregarAListaDeDeseos {
    border: 2px solid #092866;
    color: #160264;
  }
  
  .btnAgregarAListaDeDeseos:hover,
  .btnAgregarAListaDeDeseos:active {
    background: #729aea;
    color: #f8f9fa;
  }

  .textoDetalle{
    font-family: 'Roboto', sans-serif;
  }

  /* estilo puntaje con estrellas */
.rate {
  float: left;
  height: 100%;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc107;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #ffc107;  
}

.card-text-reseña{
  width: 100%;
}

#reviews .carousel-inner{
  max-width: 900px;
}
