
body {
    background: linear-gradient(0deg, rgba(21,35,64,1) 11%, rgba(54,217,187,1) 58%, rgba(35,100,140,1) 100%);
    justify-content: center;

}

#mainPhoto{
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
}

.imgCarousel{
  width: 110px;
  height: 110px;
  border: 2px solid white;
  margin: 3px;
}

.img{
  border-radius: 10px;
  cursor: pointer;
}


.textoDescripcion {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .inputCantidad {
    width: 10%;
    background-color: #042a59de;
  }
  
  .btnCantidad {
    background: none;
    border: 2px solid #0e3361;
    /* padding: 0 5px 3px 5px; */
  }
  
  .btnAgregarAlCarrito {
    background-color: #0e1445;
  }
  
  .btnAgregarAlCarrito:hover,
  .btnAgregarAlCarrito:active {
    background-color: #729aea;
  }
  
  .btnAgregarAListaDeDeseos {
    border: 2px solid #092866;
    color: #160264;
  }
  
  .btnAgregarAListaDeDeseos:hover,
  .btnAgregarAListaDeDeseos:active {
    background: #729aea;
    color: #f8f9fa;
  }

  .textoDetalle{
    font-family: 'Roboto', sans-serif;
  }
  
