*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(21,35,64);
    background: linear-gradient(0deg, rgba(21,35,64,1) 11%, rgba(54,217,187,1) 58%, rgba(35,100,140,1) 100%);
  }
  
  main {
    flex-grow: 1;
  }
  
  .logo-nav {
    height: 55px;
    width: 55px;
    border-radius: 50px;
  }
  
  
  nav {
    background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(6, 40, 78) 91.6%);
    font-family: 'Pixelify Sans',
      sans-serif;
    ;
  }

  .texto-principal {
    font-family: 'Pixelify Sans';
    text-align: center;

  }
  
  .texto{
    font-family: 'Roboto', sans-serif;
  }

  .imagenes-moviles{
    display: flex;
    max-width: 600px;
    height: 430px;
  }

  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
  }

  section img:hover {
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
  }

  .cuadro {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    transition: border-width 0.3s, border-color 0.3s;
    border: 2px solid transparent; /* Inicialmente, borde transparente */
}

.cuadro-1 {
    background-color: #152340;
}

.cuadro-2 {
    background-color: #152340; 
}
.cuadro-1, .cuadro-2 {
    background-color: #152340;
    padding: 20px; /* Puedes ajustar esto según sea necesario */
    margin: 10px; /* Puedes ajustar esto según sea necesario */
}


/* Cambiamos el borde y el color al pasar el ratón sobre el cuadro */
.cuadro:hover {
    border-width: 4px;
    border-color: white;
}

/*Boton*/
#mostrarBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #002b48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #mostrarBtn:hover {
    background-color: #2980b9;
  }
  
  .caja-con-texto {
    background-color: #36D9BB; /* Color de fondo del recuadro */
    color: rgb(10, 1, 1); /* Color del texto */
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

.caja-con-texto-2 {
    background-color: #23648C; /* Color de fondo del recuadro */
    color: rgb(255, 250, 250); /* Color del texto */
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}



/*NUESTRO EQUIPO*/
.box{
    position: relative;
    max-width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#dff3ff,#36D9BB);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background-color: #2980b9;
    border-radius: 50%;
    z-index: 1;
}

.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #152340;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .content img{
    opacity: 0;
}

.content h2{
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    color:#fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #0d1320;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.content a:hover{
    letter-spacing: 0.3em;
}


/*Footer*/

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(6, 40, 78) 91.6%);
    color: white;
    padding: 5px 0px 5px;
    border-top-left-radius: 125px;
  
    font-size: 13px;
    line-height: 20px;
    height: auto;
  }
  .logo {
    width: 80px;
  
    margin-bottom: 30px;
  }
  .row-footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-footer {
    flex-basis: 25%;
    padding: 10px;
  }
  .col-footer:nth-child(2),
  .col-footer:nth-child(3) {
    flex-basis: 15%;
  }
  
  .col-footer h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  .email-id {
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0px;
  }
  ul {
    padding: 0;
  }
  ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  ul li a {
    text-decoration: none;
    color: white;
  }
  
  form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  form .far {
    font-size: 18px;
    margin-right: 10px;
  }
  form input {
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  @import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
  .social-icons a {
    margin: 0 0px;
    border-radius: 50%;
    box-sizing: border-box;
    background: white;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 1.5em;
    -webkit-box-reflect: below 5px
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
  
  .social-icons a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color),
      0 0 200px var(--color);
  }
  
  @media (max-width: 700px) {
    footer {
      position: relative;
    }
    .col {
      flex-basis: 100%;
    }
    .col:nth-child(2),
    .col:nth-child(3) {
      flex-basis: 100%;
    }
  }
@media (max-width: 767px) {
    .box{
        position: relative;
        max-width: 100%;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        overflow: hidden;
    }
}

@media (max-width: 991.98px) {
    .cuadro:hover {
        box-shadow: 0 0 0 transparent; /* Hacer que la sombra sea transparente en lugar de mostrarla */
    }
}