body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.logo-nav {
  height: 55px;
  width: 55px;
  border-radius: 50px;
}


nav {
  background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(6, 40, 78) 91.6%);
  font-family: 'Pixelify Sans',sans-serif;
  
}



.estilo-card-footer{
  background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(7, 123, 149) 91.6%);
}

.estilo-card-body{
  Background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(5, 31, 60) 91.6%);
}

.modal-fondo{
  background-image: linear-gradient(288deg, #0d1320 1.5%, rgb(2, 8, 15) 91.6%);
}

.img-slider{
 height: 450px;
 object-fit: cover;
}

.img-principal {
  height: 200px;
    object-fit: cover;
    border-radius: 50% solid 2px black;
} 

.fondo{
  background: linear-gradient(0deg, rgba(2, 8, 15, 1) 0%, #1f3565 58%, #0d1320 100%);
}

/* productos */
.productos-tittulo{
  font-family: 'Pixelify Sans',
      sans-serif;
}

.imagen-carrousel{
  display: none;
}

.img-card-producto{
  height: 300px;
}



@media screen and (max-width: 767px){
   .titulo-responsive{
     font-family: 'Kanit', sans-serif;
     font-size: 40px;
     
   }
  .slider {
    display: none;
  }
  .img-card-producto {
      height: 200px;
      width: 200px;
    }
  .imagen-carrousel{
    display: inline;
  }

    
} 

@media all and (min-width: 768px) and (max-width: 991px){
  
  .img-card-producto {
      height: 200px;
      width: 200px;
    }
}